.main-content {
  text-align: center;
}

img {
  height: 80px;
  width: 100px;
}

.txt #p-one {
  font-weight: bolder;
  font-size: 1.5em;
}

.txt #p-two {
  font-weight: bolder;
  color: #cfd0d1;
}

@keyframes load {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.ldg::before {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: load;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
}
